<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.cn.custom_service.dao.CustomServiceMapper">
	<select id="getcs" parameterType="int" resultType="CustomService">
		
		select * from customservice where cid = #{cid}

	</select>
	
	<select id="updatejudge"  >
		
		update customservice set judge = #{0}  where cid = #{1}
		
		
	</select>
	<select id="updateserivcNnum"  >

	update customservice set serivcnnum = #{0} where cid = #{1}


	</select>

	<update id="updateNumbering">update csStatus set numbering = #{1} where cid =#{0}</update></mapper>