<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.cn.custom_service.dao.RobotMapper">
	<insert id="insertRobot" parameterType="Robot">
		insert into Robot(rid,keyword,answer,status) values(#{rid},#{keyword},#{answer},#{status})
	</insert>	
	
	<delete id="deleteRobot" parameterType="int">
		delete from robot where id=#{id}
	</delete>
	
	<update id="updateRobot" parameterType="Robot">
		update robot set rid=#{rid},keyword=#{keyword},answer=#{answer} where id=#{id}
	</update>
	
	<update id="setRobotStatus" parameterType="Robot">
		update robot set status=#{status} where id=#{id}
	</update>
	
	<select id="selectAllRobot" resultType="Robot">
		select * from robot where rid=#{rid}
	</select>

	<select id="selectRobotStatus" parameterType="int" resultType="int">
		select distinct status from robot where rid=#{rid}
	</select>
	
	<select id="selectRobotKAndA" parameterType="Robot" resultType="Robot">
		select * from robot where id=#{id}
	</select>

</mapper>